/* Basic styling */
div {
  box-sizing: border-box;
}
body{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Some default styles to make each box visible */
div > div {
  color: white;
  font-size: 5em;
  text-align: center;
  padding: 10px;

}

/* de flexcontainer */
h1+div {
  border: 2px solid black;
  display: block flex;
  gap: 20px;
}

/* Flex items */
div > div:nth-child(1) {
  background-color: darkorange;
  flex-basis:500px;
  /*flex-basis: 40rem;
  flex-grow: 0; /* default-value is 0 */
  flex-shrink: 1; /* default-value is 1 */

}
div > div:nth-child(2) {
  background-color: green;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
}
div > div:nth-child(3) {
  background-color: blue;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20px;

}
div > div:nth-child(4) {
  background-color: red;
}
div > div:nth-child(5) {
  background-color: darkmagenta;
}
