/* Basic styling */
div {
  box-sizing: border-box;
}
body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

/* Some default styles to make each box visible */
div > div {
  color: white;

  text-align: center;
  
  width: 100px;
  height: 20px;
  margin: 20px;
}

/* de flexcontainer */
h1 + div {
  border: 2px solid black;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 75vh;
  align-items: center;
  align-content: space-evenly;
  gap: 30px;
}

/* Flex items */
div > div:nth-child(1) {
  background-color: darkorange;
  order: 4;
  height: 40px;
}
div > div:nth-child(2) {
  background-color: green;
  order: 4;
}
div > div:nth-child(3) {
  background-color: blue;
}
div > div:nth-child(4) {
  background-color: red;
}
div > div:nth-child(5) {
  background-color: darkmagenta;
}
