/* Basic styling */
div {
  box-sizing: border-box;
}
body{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
ul{
  list-style-type: none;
  background-color: lightgray;
  display: block flex;
  padding: 5px;
  justify-content: space-around;
  gap: 10px;
}
li{
  color: white;
  background-color: deepskyblue;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  flex:0 0 auto; /* default value is 0 1 auto */
}
li:nth-child(2), li:nth-child(1){
  margin: auto;
  
}


